<header>
  <ion-toolbar color="light"></ion-toolbar>
</header>

<ion-content text-center color="light">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="auto">
          <img src="assets/img/end3.jpg"/>
      
              <ion-button id="Proximo4" href="https://hospitaldocancer.colabore.org/querodoar/people/new"
                          (click)="onClick()" 
                          expand="default" shape="round" fill="solid"
                          size="default" color="danger">
              <ion-ripple-effect></ion-ripple-effect>
              Quero Ajudar
              </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
          

</ion-content>