<!--<header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button dafaultHref="/"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</header>-->

<ion-content>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="auto">

          <ion-card class="ion-card">
            <img src="assets/img/end1.jpg"/>
          </ion-card>

          <ion-row>
            <ion-col>
              <div text-center>
                <ion-button id="Proximo2" (click)="onClick()" expand="default"  shape="round" fill="solid" size="default" color="secondary">
                <ion-ripple-effect></ion-ripple-effect>
                Próximo
                </ion-button>
              </div>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
