    #Homem{
        margin-top: -255px;
        margin-right: 10px;
    }
    #Mulher{
        margin-top: -255px;
        margin-left: 10px;
    }
    #image-background{
        margin-top: -50px;
        width: 380;
        height: 833;
    }
    
